
<!-- partials/Bodypart/_bodypart_textual_explanation.html -->
<style>
    .textual-explanation {
        display: flex;
        height: 100%; /* 100% height of its parent container */
        width: 20%; /* Relative to the width of its parent container*/
        background-color: #248f3f;
        align-items: center;
        justify-content: center;
    }
</style>

<aside class="textual-explanation">
    <h1 style="margin: 0; color: black;">
        Display Textual Explanation
    </h1>
</aside>
